__pycache__/
*.pyc
.DS_Store
data/**/*.wav
data/**/*.mp3
data/**/*.m4a
data/**/*.mp4
data/**/*.mov
data/hf_cache/
data/fleurs_ar_eg_dev_audio/
data/longform/
data/*concat_list.txt
results/checkpoint-*/
*.wav
*.mp4
*.mov
*.m4a
*.mp3
*.ass
*.srt
*_clips/
whisper-models/
models/
